<%- layout('layout/dashboard-template')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">

      <div class="card-body">
        <h5 class="card-title"><%= supplier.name%></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= supplier.tel %></li>
        <li class="list-group-item text-muted"><%= supplier.email %></li>
        <li class="list-group-item text-muted">$<%= supplier.address %>/nigh</li>
      </ul>

      <div class="card-body">
        <a class="card-link btn btn-info" href="/dashboard/suppliers/<%=supplier._id%>/edit">Edit</a>
        <form class="d-inline" action="/dashboard/suppliers/<%=supplier._id%>?_method=DELETE" method="post">
          <button class="card-link btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <a href="/dashboard/suppliers">All Suppliers</a>
      </div>

    </div>
  </div>
</div>
