<%- layout('layout/dashboard-template')%>
<div class="">
  <h1>Suppliers</h1>
  <div class="">
   <% for (let s of suppliers) { %>
     <div class="card mb-3">
     <div class="row">
       <ul class="list-unstyled">
         <li class="col-3">Name</li>
         <li class="col-3">Phone Number</li>
         <li class="col-3">Email Address</li>
         <li class="col-3">Address</li>
       </ul>
     </div>

    <div class="row">
      <ul>
        <li class="col-3"><%= supplier.name %></li>
        <li class="col-3"><%= supplier.number %></li>
        <li class="col-3"><%= supplier.email %></li>
        <li class="col-3"><%= supplier.address %></li>
      </ul>
    </div>
   <% } %>
   <div>

<button class="btn btn-primary">Add new</button>
